html,body
{
  height: 100%;
}

#sidebar-wrapper {

}
.container {
    height: 100%;
    width: 95%;
}

.row {
    height: 100%;
}

#menu-col {
    height: 100%;
    padding-top: 4%;
}

/* Sidebar Styles */

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: black;
    text-decoration: none;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #gray;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: #gray;
    background: none;
}
.sidebar-brand {

   	border-style: solid;
    border: black black #gray black;

}

#messages {
    padding-left: 20%;
    padding-right: 20%;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.paddingTop10 { [adding-top: 10px; }