<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
		>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><ui:insert name="windowTitle">#{msg.mainWindowTitle}</ui:insert>
	</title>
</h:head>
<h:body>
	<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript" >
		$('messages').bind("DOMSubtreeModified",function(){
		  alert('changed');
		});
	</script>
	<h:outputStylesheet library="webjars" name="bootstrap/3.3.0/css/bootstrap.min.css" />
	<h:outputScript library="webjars" name="bootstrap/3.3.0/js/bootstrap.min.js" />
	<h:outputStylesheet library="css" name="default.css" />


	<div class="container">
		<div class="row">
			<div id="menu-col" class="col-sm-3 col-md-2 col-lg-2">
				<div id="sidebar-wrapper">
					<ul class="sidebar-nav ">
					<p>
						<ui:insert name="menuHeader">
						#{msg.menuHeader}
						</ui:insert>
					</p>
						<ui:insert name="menu">
							<ui:include src="/views/main/menu.xhtml" />
						</ui:insert>
					</ul>
				</div>
			</div>


			<div id="content-col" class="col-sm-9 col-md-10 col-lg-10">
				<div id="header" class="page-header ">
					<h1>
						<ui:insert name="heading">
							#{msg.mainHeading}
						</ui:insert>
					</h1>
				</div>

				<div id="page-content-wrapper" >
					<div class="container">
						<div class="row">
							<ui:insert name="content" class="container-fluid " />
						</div>
						<br/>
						<br/>
						<h:panelGroup layout="block" id="messages" globalOnly="true" class="row" ngChange="onMessagesChange()">
							<div style="overflow: scroll">
								<ui:repeat value="#{facesContext.messageList}" var="facesMessage">
									<div class="alert alert-danger alert-error">
										<a href="#" class="close" data-dismiss="alert">&#xD7;</a>
										<strong>Error!</strong><br />
										Severity:   <h:outputText value="#{facesMessage.severity}" /><br />
										Detail: <h:outputText value="#{facesMessage.detail}" /><br />
									</div>
								</ui:repeat>
							</div>
						</h:panelGroup>
						<br/>
					</div>

				</div>

				<div  class="navbar navbar-default navbar-fixed-bottom">
					<p>Bikes Factory PolRow</p>
				</div>
				<footer>
					<p>&copy; Company 2014</p>
				</footer>
			</div>
		</div>
	</div>
</h:body>

</html>
