<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/default.xhtml">

    <ui:define name="content" >
        <script type="text/javascript" >
        function addFilterToInputTags() {
            jQuery('#bikeForm').find(':file').each(function(){
              jQuery(this).attr('accept', 'image/*')
            })
        }

        $(document).ready(function() { addFilterToInputTags(); });
    </script>
        <div class="container">
            <div class="row">
                <div id="form" class="col-sm-6 col-md-6 col-lg-6">
                    <p>Fill the form</p>
                    <h:form id="bikeForm" enctype="multipart/form-data">
                        <h:panelGrid columns="1">

                            <h:outputText value="#{msg.rowerColor}" />
                            <h:selectOneListbox id="color" value="#{rowerBean.rower.kolor}" size="1" required="true">
                            <c:forEach items="#{rowerBean.availableBikeColors}" var="item">
                                <f:selectItem itemValue="#{item}" itemLabel="#{item}" />
                            </c:forEach>
                            </h:selectOneListbox>

                            <h:outputText value="#{msg.rowerModel}" />
                            <h:inputText id="model" value="#{rowerBean.rower.model}" required="true"/>

                            <h:outputText value="#{msg.rowerSerialNumber}" />
                            <h:inputText id="serialNumber" value="#{rowerBean.rower.numerSeryjny}" required="true" />


                            <h:outputText value="#{msg.rowerImage}" />
                            <h:inputFile id="file" value="#{rowerBean.rower.zdjeciePath}" required="true">
                                <f:validator validatorId="RowerImageValidator" />
                            </h:inputFile>
                            <h:outputText value="#{msg.rowerFactoryDate}" />
                            <h:inputText id="factoryDate" value="#{rowerBean.rower.dataProdukcji}" required="true">
                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                            </h:inputText>
                        </h:panelGrid>

                        <h:commandButton value="#{msg.rowerFormOKButton}"
                                         action="#{rowerBean.addRower}">
                                         <f:ajax execute="@form" render=":messages" />
                        </h:commandButton>
                    </h:form>
                </div>
                <div id="preview" class="col-sm-6 col-md-6 col-lg-6">
                    <p>Live preview</p>
                    <div>
                        <p>Here will be content preview simulated by angular stuff</p>
                    </div>
                </div>
            </div>

        </div>

    </ui:define>
</ui:composition>