<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/default.xhtml">

    <ui:define name="content">

        <h:form>

                <h:dataTable value="#{rowerBean.allRowers}" var="item" styleClass="table table-striped table-bordered
                             table-hover table-condensed">
                    <f:facet name="header">#{msg.rowerAllLabel}</f:facet>

                    <h:column>
                        <f:facet name="header">#{msg.rowerColor}</f:facet>
                        #{item.kolor}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{msg.rowerModel}</f:facet>
                        #{item.model}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{msg.rowerSerialNumber}</f:facet>
                        #{item.numerSeryjny}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{msg.rowerImage}</f:facet>
                        <h:graphicImage name="#{item.zdjeciePath}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{msg.rowerFactoryDate}</f:facet>
                        #{item.dataProdukcji}
                    </h:column>

                    <h:column>
                        <f:facet name="header">#{msg.action}</f:facet>
                        <h:commandLink value="#{msg.actionDelete}" action="#{personBean.deleteRower}"/>
                    </h:column>

                </h:dataTable>

        </h:form>

    </ui:define>

</ui:composition>